<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block body %}
		
		{% endblock %}
		
		{% for message in app.session.flashBag.get('error-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "error"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('info-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "info"} %}
		{% endfor %}
		
		{% for message in app.session.flashBag.get('success-flash') %}
			{% include "@RibsAdmin/flash-messages.html.twig" with {"message": message, "type": "success"} %}
		{% endfor %}
		
		{% block javascripts %}
			<script src="{{ asset('build/js/vendor.js') }}"></script>
			<script src="{{ asset('build/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>