<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block body %}
		
		{% endblock %}
		
		
		{% block javascripts %}
			<script src="{{ asset('build/js/vendor.js') }}"></script>
			<script src="{{ asset('build/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>