button {
	margin: 10px;
	padding: 10px 20px;
	min-width: 64px;
	line-height: 18px;
	background-color: $bg-button;
	color: #fff;
	border: none;
	transition: 0.3s all ease;
	font-size: 14px;
	font-family: $police-princ;
	color: #fff;
	text-align: center;
	box-shadow: 1px 1px 3px #b4b4b4;
	
	&.full-width {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	
	&.no-shadow {
		box-shadow: none;
	}
}