body {
	font-family: $police-princ;
	background-color: #EBEDF1;
}

.inner {
	width: 80%;
	margin-left: 10%;
	transition: all 0.3s ease;

	&.displayed-nav {
		margin-left: 350px;
		transition: all 0.3s ease;
	}
}

.column {
	display: table-cell;
	vertical-align: top;
}

.espacement {
	width: 100%;
	height: 20px;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: inherit;
	
	&:hover {
		cursor: pointer;
	}
}

.text-center {
	text-align: center;
}