.multiple-blocks {
	.block {
		margin-top: 30px;
		background-color: $bg-page;
		padding: 10px;
		border-radius: 3px;
		width: 320px;
		max-width: 320px;
		height: 420px;
		margin: 15px;
		position: relative;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		float: left;
		overflow: hidden;

		img {
			max-width: 320px;
		}

		h2 {
			margin: 10px 0;
		}

		.content {
			max-height: 130px;
			overflow-y: auto;

			ul {
				li {
					padding: 10px 0;
					color: $color-multiple-block-li;
				}
			}
		}

		a {
			position: absolute;
			bottom: 36px;
			border-top: 1px solid #ccc;
			padding: 10px;
			color: $color-link-page;
			transition: all 0.3s ease;

			&.edit {
				left: 0px;
				border-right: 1px solid #ccc;
				bottom: 0px;

				&:hover {
					background-color: $color-link-page-hover;
					color: #fff;
					transition: all 0.3s ease-in;
				}
			}

			&.delete {
				right: 0px;
				border-left: 1px solid #ccc;
				bottom: 0px;

				&:hover {
					background-color: $bg-link-delete-hover;
					color: #fff;
					transition: all 0.3s ease-in;
				}
			}
		}
	}
}