@font-face {
	font-family: lobster;
	src: url(../fonts/lobster.ttf);
}

@font-face {
	font-family: noto-sans;
	src: url(../fonts/noto-sans.ttf);
}

/*----- MAIN COLOR -----*/
$bg-general: #2F3B4C;
$bg-notification: #f34336;
$bg-header-page: #ffffff;
$bg-page: #fff;


/*----- FOR LOGIN PAGE -----*/
$color-error-input-login: #F34336;

/*----- BUTTONS COLORS -----*/
$bg-button: #2196F3;
$bg-button-hover: #217ED3;
$bg-button-error: #F34336;
$bg-button-error-hover: #DD2A2A;

/*----- LINK COLORS -----*/
$link-color: #AFBDC4;
$color-lien-page: #2196F3;
$color-lien-hover-page: #217ED3;
$bg-lien-supprimer: #F34336;
$bg-lien-supprimer-hover: #DD2A2A;


/*----- COLOR FOR LABELS || TITLES AND FONTS -----*/
$color-title: #AFBDC4;
$clr-text-label: #bfbfbf;
$police-princ: noto-sans;
$police-sec: lobster;


/*----- LEFT SIDE NAV -----*/
$menug-bg-header: #00BEE7;
$menug-clr-header: #0082A8;
$menug-clr-border-lien: #2BA5CA;
$menug-ombre-header: #2C3747;
$bg-lien-hover-menu: #2A3344;