/*----- MAIN COLOR -----*/
$bg-general: #2F3B4C;
$bg-notification: #f34336;



/*----- LINK COLORS -----*/
$link-color: #AFBDC4;
$color-link-page: #2196F3;
$color-link-page-hover: #217ED3;
$menug-clr-border-link: #2BA5CA;


/*----- COLOR FOR TITLES -----*/
$color-title: #AFBDC4;



/*----- COLOR FOR POPUP -----*/
$popup-color-h2: #3d5170;
$popup-color-h3: #818ea3;
