/*----- MAIN COLOR -----*/
$bg-general: #2F3B4C;
$bg-notification: #f34336;
$bg-header-page: #ffffff;
$bg-page: #fff;


/*----- FOR LOGIN PAGE -----*/
$color-error-input-login: #F34336;



/*----- LINK COLORS -----*/
$link-color: #AFBDC4;
$color-link-page: #2196F3;
$color-link-page-hover: #217ED3;
$bg-link-delete: #F34336;
$bg-link-delete-hover: #DD2A2A;

/*----- HEADER NAV -----*/
$menug-bg-header: #00BEE7;
$menug-clr-header: #0082A8;
$menug-clr-border-link: #2BA5CA;
$menug-shadow-header: #2C3747;
$bg-link-hover-menu: #2A3344;

/*----- COLOR FOR TITLES -----*/
$color-title: #AFBDC4;


/*----- COLOR FOR POPUP -----*/
$popup-color-h2: #3d5170;
$popup-color-h3: #818ea3;
