{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Page management </h1>
{% endblock %}

{% block body %}
	<nav class="nav-page">
		{% if navigation is iterable and navigation|length > 0 %}
			<ul>
				{% for i in navigation %}
					<li><a href="{{ i.url }}" title="{{ i.title_tag }}">{{ i.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</nav>
{% endblock %}