{% extends "@RibsAdmin/base.html.twig" %}

{% block title_page %}
	<h1>Page management </h1>
{% endblock %}

{% block body %}
	<nav class="nav-page">
		<ul>
			<li><a href="">Accueil</a></li>
			<li><a href="">page 2</a></li>
			<li><a href="">page 3</a></li>
			<li><a href="">page 4</a></li>
			<li><a href="">page 1</a></li>
		</ul>
	</nav>
{% endblock %}